@charset "UTF-8";
.logement-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
@media (max-width: 768px) {
  .logement-container {
    margin: 10px;
  }
}

.carousel-container {
  width: 100%;
  margin: 20px 0;
}
@media (max-width: 768px) {
  .carousel-container {
    margin: 10px 0;
  }
}

.logement-details {
  width: 100%;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .logement-details {
    padding: 10px 0;
  }
}

.logement-title {
  font-weight: 400;
  margin-bottom: 20px;
}
.logement-title h1 {
  font-size: 2em;
  margin: 0;
  color: #ff6060;
}
@media (max-width: 768px) {
  .logement-title h1 {
    font-size: 1.5em;
  }
}
.logement-title p {
  font-size: 1.2em;
  color: black;
}
@media (max-width: 768px) {
  .logement-title p {
    font-size: 1em;
  }
}

.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
@media (max-width: 768px) {
  .logement-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .tags {
    margin-bottom: 10px;
  }
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.host {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .host {
    justify-content: flex-end;
  }
}
.host p {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-weight: medium;
  color: #ff6060;
}

.hostdettail {
  position: absolute;
  right: 20px;
  top: -100px;
}
@media (max-width: 768px) {
  .hostdettail {
    position: static;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row-reverse;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
  }
}

.host-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.star {
  font-size: 1.5em;
  color: lightgray;
}

.star.filled {
  color: #ff6060;
}

.description {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  gap: 70px;
}
@media (max-width: 768px) {
  .description {
    flex-direction: column;
    gap: 10px;
  }
}
.description .collapse-item {
  border-radius: 5px;
  width: 100%;
}
.description .collapse-item-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.description .collapse-item-content {
  padding-top: 10px;
  background-color: #F6F6F6;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel-image {
  width: 100%;
  height: 415px;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .carousel-image {
    height: 255px;
    border-radius: 15px;
  }
}

.carousel-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.left-arrow {
  margin-left: 10px;
}

.right-arrow {
  margin-right: 10px;
}

.carousel-arrow {
  cursor: pointer;
  width: 50px;
  height: auto;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .carousel-arrow {
    width: 20px; /* Réduire la taille des flèches pour les petits écrans */
  }
}

.carousel-arrow:hover {
  opacity: 1;
}

.carousel-counter {
  text-align: center;
  margin-top: 10px;
  position: absolute;
  right: 50%;
  top: 90%;
  color: white;
}
@media (max-width: 768px) {
  .carousel-counter {
    display: none;
  }
}

body {
  padding: 50px;
  padding-top: 10px;
  padding-bottom: 0;
}
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #fff;
}
@media all and (max-width: 768px) {
  .header {
    font-size: 12px;
    padding: 10px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-size: 20px;
}
@media all and (max-width: 768px) {
  .nav-link {
    font-size: 15px;
  }
}

.nav-link:active {
  text-decoration: underline; /* Soulignement au survol */
}

.banner {
  position: relative;
  height: 180px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Image source 1.png");
  background-size: cover; /* Pour couvrir toute la bannière */
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  color: #fff; /* Couleur du texte */
  text-align: center;
  margin: 0; /* Supprime les marges par défaut */
  padding: 20px; /* Ajoute un peu de padding autour du texte */
  font-size: 48px;
}
@media all and (max-width: 768px) {
  .banner h1 {
    font-size: 24px;
  }
}

.bannier {
  width: 100%;
  height: auto;
  border-radius: 10px;
  mix-blend-mode: darken; /* Mode de fusion "Darken" */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
@media all and (max-width: 768px) {
  .bannier {
    height: 111px;
    width: 100%;
  }
}

main {
  padding: 20px 0;
}

.galerie {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 300px;
}

.footer {
  background-color: black;
  height: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}
.footer p {
  color: #fff;
  font-size: 16px;
}
@media all and (max-width: 768px) {
  .footer p {
    font-size: 12px;
  }
}

.card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  transition: transform 0.2s;
}
@media all and (max-width: 768px) {
  .card {
    width: 95%;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.card-title-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 10px 10px;
  border-radius: 0 0 8px 8px;
  box-sizing: border-box;
}

.card-title {
  margin: 0;
  font-size: 1.2em;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 20px;
}
@media all and (max-width: 768px) {
  .card-list {
    flex-direction: column;
    padding: 0;
  }
}

.valeurs {
  padding: 0 50px;
}
@media all and (max-width: 768px) {
  .valeurs {
    padding: 0;
  }
}

.collapse-item {
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}

.collapse-header {
  background-color: #FF6060;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse-header h2 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

.collapse-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.collapse-content {
  padding: 10px 20px;
  background-color: #F6F6F6;
  color: #333;
}

.error {
  line-height: 410.69px;
  text-align: center;
  color: red;
  margin: 0;
}
.error h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 288px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media all and (max-width: 768px) {
  .error h1 {
    font-size: 90px;
  }
}
.error p {
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: center;
}
@media all and (max-width: 768px) {
  .error p {
    font-size: 18px;
  }
}
.error .link {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: center;
  color: #000000;
}/*# sourceMappingURL=acceuil.css.map */