
.logement-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  @media (max-width: 768px) {
    margin: 10px;
  }
}

.carousel-container {
  width: 100%;
 
  margin: 20px 0;
  @media (max-width: 768px) {
    margin: 10px 0;
  }
}

.logement-details {
  width: 100%;
 
  padding: 20px 0 ;
  @media (max-width: 768px) {
    padding: 10px 0;
  }
}

.logement-title {
  font-weight: 400;
  margin-bottom: 20px;
  h1 {
    font-size: 2em;
    margin: 0;
    color:#ff6060;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
  p {
    font-size: 1.2em;
    color: black;
    @media (max-width: 768px) {
      font-size: 1em;
    }
  }
}



.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.host {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: flex-end;
}
  
  p {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    color: #ff6060;
    text-align: right; /* Alignement du texte à droite */
    word-break: break-word; /* Permet le retour à la ligne automatique */
  }
}

.hostdettail{
  position: absolute;
  right: 20px;
  top: -100px;
  @media (max-width: 768px) {
    position: static;
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row-reverse;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
  }
}

.host-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.star {
  font-size: 1.5em;
  color: lightgray;
}

.star.filled {
  color: #ff6060;
}

.description  {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  gap: 70px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
  }

  .collapse-item {
   
    border-radius: 5px;
    width: 100%;
  }
  
  .collapse-item-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .collapse-item-content {
    padding-top: 10px;
    background-color: #F6F6F6;
  }
  
}



