.logement-container {
  padding: 20px;
}

.carousel-container {
  margin-bottom: 20px;
}

.logement-details {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  h1{
    color: #FF6060;
  }
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: #ff5a5f;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.description {
  margin-top: 20px;
}

.host {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.host-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}


/* Rating.css */
.rating {
  display: flex;
}

.star {
  font-size: 20px;
  color: lightgray;
}

.star.filled {
  color: orange;
}

.equipments {
  margin-top: 20px;
}
