
.logement-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Arial, sans-serif;
}

.carousel-container {
  width: 100%;
 
  margin: 20px 0;
}

.logement-details {
  width: 100%;
 
  padding: 20px 0 ;
}

.logement-title {
  
  margin-bottom: 20px;
  h1 {
    font-size: 2em;
    margin: 0;
    color:#ff6060;
  }
  p {
    font-size: 1.2em;
    color: gray;
  }
}



.logement-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
}

.host {
  display: flex;
  align-items: center;
  p {
    margin-right: 10px;
    font-weight: bold;
    color:#ff6060;
  }
}

.hostdettail{
  position: absolute;
  right: 20px;
  top: -100px;
}

.host-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rating {
  display: flex;
}

.star {
  font-size: 1.5em;
  color: lightgray;
}

.star.filled {
  color: #ff6060;
}

.description  {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  .collapse-item-2 {
    background-color: #f7f7f7;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .collapse-item-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .collapse-item-content {
    padding-top: 10px;
  }
  
}



